
@{
    ViewBag.Title = "Index";
}

<h2>JQuery Grid Show</h2>
<br/>

<table id="jqGrid"></table>
<div id="jqGridPager"></div>


<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
<link href="~/Content/Theme/jquery-ui.min.css" rel="stylesheet" />
<link href="~/Content/ui.jqgrid.css" rel="stylesheet" />

@section scripts{
    
<script src="~/Scripts/jqGrid/grid.locale-en.js"></script>
<script src="~/Scripts/jqGrid/jquery.jqGrid.js"></script>

    <script>
        $(function () {

            $grid = $("#jqGrid").jqGrid({
                url:'@Url.Action("GetData","Employee")',
                mtype: 'GET',
                datatype: 'json',
                colModel: [
                    { label: 'Name', name: 'Name' },
                    { label: 'Position', name: 'Position' },
                    { label: 'Office', name: 'Office' },
                    { label: 'Age', name: 'Age' },
                    { label: 'Salary', name: 'Salary' },
                ],
                loadonce: true,
                pager: '#jqGridPager',
                rowNum: 10,
                rowList: [10, 20, 30, 50],
                viewrecords: true,
                height : 250
            });
            $("#jqGrid").jqGrid('navGrid', '#jqGridPager', {edit : false,add:false,del:false})


            var $pager = $grid.closest(".ui-jqgrid").find(".ui-pg-table");
            //replace paging icons
            $pager.find(".ui-pg-button>span.ui-icon-seek-first")
                .removeClass("ui-icon ui-icon-seek-first")
                .addClass("fa fa-fast-backward");
            $pager.find(".ui-pg-button>span.ui-icon-seek-prev")
                .removeClass("ui-icon ui-icon-seek-prev")
                .addClass("fa fa-step-backward");
            $pager.find(".ui-pg-button>span.ui-icon-seek-next")
                .removeClass("ui-icon ui-icon-seek-next")
                .addClass("fa fa-step-forward");
            $pager.find(".ui-pg-button>span.ui-icon-seek-end")
                .removeClass("ui-icon ui-icon-seek-end")
                .addClass("fa fa-fast-forward");
           
            //replace search and refresh icons
            $pager.find(".ui-pg-div>span.ui-icon-search")
                .removeClass("ui-icon ui-icon-search")
                .addClass("fa fa-search");
            $pager.find(".ui-pg-div>span.ui-icon-refresh")
                .removeClass("ui-icon ui-icon-refresh")
                .addClass("fa fa-refresh");
        });
    </script>

    }
